---
title: Home
layout: default
home: true
navigation_weight: 1
---

<section class="journal">

{% if page.title == 'posts' %}

	<p>Test Post</p>


{% else %}

	{% for post in site.posts %}
	<article>

	    {% if post.image %}

	    <div class="image">

	      <a href="{{site.url}}{{post.url}}"><img src="{{site.url}}/assets/img/{{post.image}}" alt="{{post.title}}" /></a>

	    </div>

	    {% endif %}

	    <h2><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h2>

	    <div class="excerpt">

	      {{post.excerpt | strip_html | strip_newlines}}

	    </div>

	</article>
	{% endfor %}

{% endif %}

</section>
