<footer>
  <div class="contain">
    <div class="col">
      <h6>COPYRIGHT</h6>
      <ul>
        <li>
          copyright 2009-2016 Kadlac, LLC. All rights reserved.
        </li>
      </ul>
    </div>
    <div class="col">
      <h6>EMAIL</h6>
      <ul>
        <li>
          <a href="mailto:nate@kadlac.com">nate@kadlac.com</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h6>TEL</h6>
      <ul>
        <li>
          651.334.4755
        </li>
      </ul>
    </div>
    <div class="col">
      <h6>SOCIAL</h6>
      <ul>
        <li><a href="http://instagram.com/nkadlac">Instagram</a></li>
        <li><a href="http://dribbble.com/natekadlac">Dribbble</a></li>
        <li><a href="https://twitter.com/kadlac">Twitter</a></li>
      </ul>
    </div>
    <!-- <span class="copyright">&copy; {{ site.time | date: '%Y' }} {{site.name}}</span> -->
  </div>
</footer>
