<header class="global">

	<div class="contain">

		<a href="{{site.url}}/">
			<!-- <img src="" alt="Kadlac, LLC"> -->
		</a>

		<nav class="full_nav">
		  <ul>
		    <li><a href="/projects/"{% if page.url contains "/projects/" %} class="active" {% endif %} >Projects</a></li>
		    <li><a href="/posts/"{% if page.url contains "/posts/" %} class="active" {% endif %} >Posts</a></li>
		    <li><a href="{{site.url}}/about"{% if page.url contains "/about/" %} class="active" {% endif %} >About</a></li>
		    <li><a href="http://twitter.com/{{ site.twitter.username }}">Follow me on Twitter</a></li>
		  </ul>
		</nav>

	</div>

</header>
