<header class="main_header" role="banner">

  <div class="main_header__contain">

    <h1 class="logo"><a href="{{ "/" | relative_url}}">{{ site.title | escape }}</a></h1>

    <!-- <ul class="nav">
      {% assign my_pages = site.pages | sort: "position" %}
        {% for p in my_pages %}
          {% if p.position %}
          <li class="nav__link">
            <a href="{{ p.url }}" {% if p.url == page.url %}class="selected"{% endif %}>
              {{ p.title }}
            </a>
          </li>
          {% endif %}
      {% endfor %}
    </ul> -->

  </div>

</header>
