---
---

@import "bourbon/bourbon",
				"neat/neat";
				// "partials/base";

$desktop: new-breakpoint(min-width 868px);
$mid: new-breakpoint(min-width 400px);
$home_link: #C13030;
$home_link_hover: #B02525;

body,
html {
  color: #333;
	font-family: "Whitney SSm A", "Whitney SSm B";
	font-style: normal;
	font-weight: 400;
}

body {
	background: #FAF8F4;
}

.wrap {
	@include media($desktop) {
		@include outer-container(100%);
	}
	@include outer-container(100%);
}

.header {
	background: #FFFFFF;
	padding: 100px 0 30px 0;
	// width: 90%;
	// max-width: 62.5em;
}

.home .main_content {
	width: 100%;
	@include outer-container(90%);
}

.main_content {
	// @include span-columns(12);
	// padding: ;
	@include outer-container(62.5em);
	width: 90%;
	max-width: 62.5em;
}

.wrap.home {
	background-size: cover;
	min-height: 1000px;
	@include clearfix;
}

.contain {
	padding: 4.75em 1.5em;
}

.home_content {
	height: 100%;
	width: 100%;
	padding: 1em 5% 4em 0;
	font-size: 24px;
	line-height: 1.5em;
	@include media($mid) {
		padding: 2em 10% 4em 1em;
	}
	@include media($desktop) {
		padding: 4em 20% 4em 3em;
		font-size: 32px;
		max-width: 62.5em;
	}
}

.home h1 {
	font-size: 26px;
	line-height: 1.5em;
	@include media($mid) {
		font-size: 30px;
	}
	@include media($desktop) {
		font-size: 40px;
	}
}

 .home button {
	 transition: background 0.3s ease;
	 background: $home_link;
	 border: none;
	 text-decoration: none;
	 font-style: none;
	 font-weight: bold;
	 border-radius: 4px;
	 font-size: 28px;
	 padding: .5em 1em;
	 color: #FFF;

 }

 .home button a {
	 color: #FFFFFF;
 }

 .home button:hover {
	 background: $home_link_hover;
	 border-bottom: none;
	 text-decoration: none;
 }

 .home button a {
	 text-decoration: none;
 }

.cover_lock {
	display: inline-block;
	vertical-align: middle;
	font-size: 1em;
	// @include span-columns(6);
	// @include shift(6);
}

.logo {
	display: inline-block;
	background: url("/assets/img/logo_kadlac.svg") no-repeat left top;
	height: 34px;
	width: 34px;
	float: left;
}

/* full nav ------------------------ */

.header__contain {
	text-align: center;
	@include outer-container(62.5em);
	width: 90%;
}

.nav {
	position: relative;
	// float: right;
	margin: 0 auto;
	font-size: 1em;
	list-style: none;
}

.nav__item {
	padding: .5em .5em;
	display: inline-block;
	// float: left;
	// position: relative;
	text-decoration: none;
	margin-left: 2em;
	transition: margin .3s ease;
}

.nav__item a {
	font-size: .75em;
	color: #333333;
	font-size: 0.75rem;
	letter-spacing: .1em;
	transition: color .3s ease;
	position: relative;
	text-decoration: none;

}

.nav__item a::after {
	transform: translateY(1.25em);
	transition: transform .3s ease, opacity .3s ease;
}

.nav__item--link {

}

.nav__item:first {
	margin-left: 0;
}

.nav__item a.active {
	// font-weight: bold;
	border-bottom: 1px solid #333;
	transform: translateY(1.25em);

}

.nav__item a::after {
	border-bottom: 1px solid #2e3c40;
	bottom: 0;
	left: 0;
	width: 100%;
	content: "";
	position: absolute;
	opacity: 0;
}

.nav__item a:hover::after {
	opacity: 1;
}



.header_img_stretched {
		background-position: left top;
		background-repeat: no-repeat;
		background-size: auto;
}



/* Hero image testing -------------------- */

.hero-title {
	margin-bottom: -20px;
}
.hero-image-cover {
	@include fill-parent();
	position: relative;
	@include clearfix;
}

.hero-image-cover img {
	max-width: 100%;
}

.hero-image-cover.contain {
	max-width: 100%;
	margin: 0 auto;
	max-width: 1320px;
}

.hero-bg-color {
	max-width: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-size: cover;
	height: auto;
	@include clearfix;
}

header.article_head {
	padding: 7.125em 0 3.375em 0;
}

header.article_head h1 {
	max-width: 43.75rem;
}

.article_body.contain {
	margin-bottom: 6.5em;
	max-width: 600px;
	margin: 0 auto;
	@include media($desktop) {
		max-width: 25.25em;
	}
}

// all container cells to add padding to
.contain {
	padding: 0 1.5em;
	margin: 0 auto;
	@include media($desktop) {
			max-width: 76em;
	}
}

/* Portfolio body --------------------------------------- */

.portBody {
	max-width: 96.25em;
}

.portHead__contain {
	// text-align: center;
}

.postSmall {
	max-width: 100%;
	@include media($desktop) {
		max-width: 51.125em;
	}
}

.contain.large {
	max-width: 100%;
	padding: 0;
	@include media($desktop) {
		max-width: 82.25em;
	}
}

.portBody__contain,
.portHead__contain {
	padding: 0 10em;
}

.portBody__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.portBody__project {
	padding: 1em 0;
}


/* Blog  --------------------------------------- */

.postBody {
	font-size: 1.2em;
	line-height: 1.5em;
}

.postBody__contain p {
	padding: 0 0;
}

.postBody blockquote {
	margin: 1.5em 0;
	padding: 0;
	font-size: 2em;
	line-height: 1.5em;
	font-style: italic;
}

.postBody blockquote p {
	margin: 0 5% 0 -10%;
	padding: 0;

}


.postHead__contain,
.postBody__contain{
	padding: 0 0;
	@include span-columns(8);
	@include shift(2);
}

.postBody img {
	max-width: 120%;
	border-radius: 6px;
	margin: 2.8em 5% 0 -10%;
	width: 120%;
	// left: -10%;
	height: auto;
}



/* Footer  ----------------------------------- */

.footer {
		// max-width: 76em;
		margin: 0 auto;
		text-align: center;
		// background-color: #DDDDDD;
		padding: 50px 0;
}

.footer__contain {
 width: 90%;
 max-width: 62.5em;
 margin: 0 auto;

}

.footer__links {
	text-align: center;
	color: #999;
	font-size: .8em;
}

.footer__item {
	text-decoration: none;
	color: #d19a16;
}


/* Footer  ----------------------------------- */

body.home {
	background: #222222;
	color: #FFFFFF;
}

.home a {
	transition: border-bottom 0.3s ease;
	color: $home_link;
	border-bottom: 1px solid rgba(0,0,0,0);
	text-decoration: none;
}

.home a:hover {
	border-bottom: 1px solid $home_link;
	text-decoration: none;
}
