---
---

@import "bourbon/bourbon",
		"neat/neat";

$desktop: new-breakpoint(min-width 768px);


body,
html {
  color: #333;
  background: #f0f4fa;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 6.25em;
	margin-bottom: 1.5rem;
}

p {
	font-size: 1.125em;
	line-height: 2.375rem;
	max-width: 62.5rem;
	margin-bottom: 2.5em;
}

.article_body img {
	width: 100%;
}
header.global nav.full_nav ul li a.active {
	color: #00FF11;
}

header.global nav.full_nav ul {
	float: right;

}

header.global nav ul li a {
	text-decoration: none;
	color: #333;
}

header.global nav.full_nav ul li:first {
	margin-left: 0;
}

header.global nav.full_nav ul li {
	float: left;
	line-height: 3.75rem;
	margin-left: 3.125em;
}



header.global nav.full_nav ul li a {
	padding: 0;
	font-size: .75em;
	display: block;
	color: #333333;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: .1em;
	transition: color .3s ease;
	position: relative;

}

header.global nav.full_nav ul li a::after {
	border-bottom: 1px solid #2e3c40;
	bottom: 0;
	left: 0;
	width: 100%;
	content: "";
	position: absolute;
	opacity: 0;
}

header.global nav.full_nav ul li a:hover::after {
	opacity: 1;
}


// drop cap styling
.article_body p:first-child:first-letter { 
	float: left; 
	// color: #903; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Georgia; 
}

.wrap {
	@include media($desktop) {
		@include outer-container(100%);
	}
	@include outer-container(100%);
}

header.article_head {
	padding: 7.125em 0 3.375em 0;
}

header.article_head h1 {
	max-width: 43.75rem;
}


// all container cells to add padding to
.contain {
	padding: 0 1.5em;
	max-width: 76em;
	margin: 0 auto;
}

.article_body .contain {
	margin-bottom: 6.5em;
}

.portfolio_body {
	max-width: 96.25em;
	@include media($desktop) {
		@include outer-container(100%);
	}
}

.contain.small {
	max-width: 100%;
	@include media($desktop) {
		max-width: 50em;
	}
}

.contain.large {
	max-width: 100%;
	@include media($desktop) {
		max-width: 82.25em;
	}
}

.contain.large {
	padding:0;
	max-width: 82.25em;
}



