---
---

@import "normalize";


$tablet: 600px;
$laptop: 900px;
$monitor: 1400px;


html, body {
  padding: 0;
  margin: 0;
  text-align: center;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  font-size: 16px;
  font-family: "Whitney SSm A", "Whitney SSm B", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

a {
  color: red;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

// @media (min-width: $tablet) {
//   color: red;
// }

.wrap {
  margin: 0 auto;
  text-align: left;
  @media (min-width: $tablet) {

  }
  @media (min-width: $laptop) {

  }
  @media (min-width: $monitor) {

  }
}

.main_header, .main_content, .main_footer {
  // width: 90%;
  margin: 0 auto;
  @media (min-width: $laptop) {
    width: 100%;
  }
}

.main_content__contain,
.main_header__contain,
.main_footer__contain {
  margin: 0 auto;
  // min-height: 10em;
  max-width: 1200px;
  width: 90%;
  @media (min-width: $tablet) {

  }
  @media (min-width: $laptop) {
    width: 90%;
    max-width: 1200px;
  }
}

.main_header__contain {
  display: flex;
  padding: 2em 0 4em 0;
  flex-direction: column;
  // align-items: center;
  @media (min-width: $tablet) {
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
}



.nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex: 1;
}

.nav__link {
  // flex: 1;
  list-style: none;
  margin: 0 auto;
  // padding: 10px;
  @media (min-width: $tablet) {
    justify-content: space-between;
    padding: 1em;
  }
}


body.home .nav__link a {
  color: #FFF;
}

.nav__link a {
  color: #333;
  text-decoration: none;
}


.logo {
  text-align: center;
  flex: 1;
  @media (min-width: $tablet) {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }
}



body.home .logo a {
  color: #FFF;
}

.logo a {
  color: #e22b00;
  text-decoration: none;
}


/* Home ---------------------------------  */

body.home {
  background: #e22b00 url(/assets/images/bg_home.gif) no-repeat left bottom;
  background-size: 250% auto;
  @media (min-width: $tablet) {
    background: #e22b00 url(/assets/images/bg_home.gif) no-repeat left bottom;
    background-size: 130% auto;
  }
  @media (min-width: $laptop) {
    background: #e22b00 url(/assets/images/bg_home.gif) no-repeat 0 bottom;
    background-size: 100% auto;
  }
}

.home__message {
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet) {
    max-width: 800px;
    margin-top: 50px;
    // align-self: center;
  }
}

.home__message a {
  color: #FFF;
  transition: all 0.3s ease;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,1);
  padding-bottom: 2px;
  @media (min-width: $tablet) {
    padding-bottom: 8px;
  }
  &:hover {
      text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,0);
      color: #000;
  }
}

.home__message h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  color: #FFF;
  font-family: "freight-text-pro-1", "freight-text-pro-2";
  font-weight: 300;
  @media (min-width: $tablet) {
    font-size: 2.8em;
  }
  @media (min-width: $laptop) {
    font-size: 3em;
  }
}

.home__message h2 {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: normal;
  color: #FFF;

  @media (min-width: $tablet) {
    font-size: 1.5em;
  }
  @media (min-width: $laptop) {
    font-size: 1.5em;
  }
}

.main_footer {
  height: 40vh;
}

.btn_contact {
  background: #000;
  border: none;
  border-radius: 4px;
  padding: 15px 15px;
  transition: all .3s ease;
  &:hover {
    background: #FFF;
  }
  @media (min-width: $tablet) {
    width: 10em;
  }
}

.btn_contact a {
  color: #FFF;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  padding: 15px 15px;
  transition: all .3s ease;
  &:hover {
    color: #e22b00;
  }
}

.work_head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 460px;
}

.work_head .left_col, .work_head .right_col {
  width: 48%;
}

.work_head .left_col .col {
  flex: 1;
}

.work_head .right_col {
  justify-content: space-between;
}

.work_head .right_col .col{
  height: 200px;
}

.work_head__col {
  display: flex;
  flex-direction: row;
}

.work_head__col .col {
  flex: 1;
}

.work_head .col {
  // background: #f7f7f7;
  min-height: 100px;
  flex: 1;
}

.project_title {
  // font-family: ;
  font-size: 1.5em;
  line-height: 1em;
  color: #e22b00;
  font-weight: bold;
  margin: .5em 0;
}

.project_description {
  font-family: "freight-text-pro-1", "freight-text-pro-2";
  font-size: 2.5em;
  line-height: 1.3em;
  color: #333;
  font-weight: 300;
  margin-top: .2em;
}

.work_body {
  margin: 50px 15.9090909090909%;
}

.work_body p {
  font-size: 1.125em;
  line-height: 1.5em;
}

.work_tags {
  list-style: none;
  margin: 0;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 20px;
  font-size: .8em;
  min-width: 100px;
  display: inline-block;
}
.work_tags li:before {
  content: "\2022 ";
  color: #999;
  font-size: 1em;
  padding-right: 14px;
}

.work_tags li:first-child:before {
  list-style: none;
  content: none;
}

.work_tags li {
  padding: 0 8px 0 8px;
  display: inline;
}

.work_tags li a {
  color: rgba(0,0,0, .2);
  text-decoration: none;
  &:hover {
      color: #333;
  }
}
