
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{site.url}}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
    <script src="{{site.url}}/assets/js/scripts.js"></script>
    
    <title>{% if page.title %}{{ page.title }} | {{site.name}}{% else %}{{ site.name }}{% endif %}</title>
  </head>

<body {% if %page.home %}class="home"{% endif %}>

	<div class="wrap">
		
		{% include header.html %}

		<section>

			{{content}}

		</section>

		{% include footer.html %}

	</div>



</body>

</html>