
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Nate Kadlac</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- hoefler type service -->
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/688240/609604/css/fonts.css" />

    <link rel="stylesheet" href="{{site.url}}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/main.css">
    <script src="{{site.url}}/assets/js/scripts.js"></script>

    <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
  </head>

<body>
  {% include header.html %}

	<div class="wrap">

		<section class="main_content">

			{{content}}

		</section><!-- main_content -->

	</div><!-- end wrap -->

  {% include footer.html %}

</body>

</html>
