
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Nate Kadlac</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{site.url}}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
    <script src="{{site.url}}/assets/js/scripts.js"></script>

    <title>{% if page.title %}{{ page.title }} | {{site.name}}{% else %}{{ site.name }}{% endif %}</title>
  </head>

<body {% if page.home %}class="home"{% endif %}>

	<div class="wrap" {% if page.title == 'Home' %} style="background-image: url({{page[background_image]}});" {% endif %}>

		{% include header.html %}

		<section class="main_content">

			{{content}}

		</section>

		{% include footer.html %}

	</div><!-- end wrap -->

</body>

</html>
