---
layout: default
---

<!-- <article class="single"> -->

<header class="article_head">
  <div class="contain small">

    <h1>{{page.title}}</h1>

      {% if page.subhead %}
        <h3 class="subhead">{{page.subhead}}</h3>
      {% endif %}

      <div class="meta">by {{site.author}} on {{ page.date | date: "%B %d, %Y" }}</div>

      {% if page.image %}
      <div class="image">
        <img src="{{site.url}}/assets/img/{{page.image}}" alt="{{page.title}}" />
      </div>
      {% endif %}
    
  </div>
</header>

<section class="article_body">

  {% if page.image %}
  <div class="contain large">
      <div class="image">
        <img src="{{site.url}}/assets/img/{{page.topimage}}" alt="{{page.title}}" />
      </div>
  </div>
  {% endif %}

  <div class="contain small">

    {{content}}

    {% if page.readmore %}
      <a href="{{page.readmore}}" class="button read-more-button">Read more</a>
    {% endif %}

    {% include share-buttons.html %}
  </div>
</section>



<nav class="articles">
  
</nav>


<!-- </article> -->