---
layout: default
---

<!-- <article class="single"> -->

<header class="">
  <div class="contain">
    <div class="hero__title">
      <h1 class="hero__">Agent Productivity</h1>
    </div>
  </div>

  <!-- <div class="hero-bg-color" style="background-color: #F15F4A;"></div> -->
  <div class="hero-image-cover" style="background-color: #F15F4A;>
    <div class="contain">
      <img src="/assets/img/hs_hero.jpg" />
    </div>
  </div>



</header>

<article class="article_body">

  <div class="contain small">

    <h1>{{page.title}}</h1>

      {% if page.subhead %}
        <h3 class="subhead">{{page.subhead}}</h3>
      {% endif %}

      <div class="meta">by {{site.author}} on {{ page.date | date: "%B %d, %Y" }}</div>
  </div>

  {% if page.topimage %}
  <div class="contain large">
      <div class="topimage">
        <img src="{{ page.topimage }}" alt="{{ page.topimage }}" />
      </div>
  </div>
  {% endif %}

  <div class="contain small">


    {{content}}


    {% if page.readmore %}
      <a href="{{page.readmore}}" class="button read-more-button">Read more</a>
    {% endif %}

    <!-- {% include share-buttons.html %} -->
  </div>
</article>



<nav class="articles">

</nav>


<!-- </article> -->
