{% include head.html %}

<body class="project">

  <div class="wrap">

    {% include header.html %}

    <section class="main_content">

      <div class="main_content__contain">

        <header class="work_head">

          <div class="left_col">

            <div class="col">
              <img src="{{ page['header 01 image'] }}" data-rjs="2" />
            </div>

          </div>

          <div class="right_col">

            <div class="col">
              <img src="{{ page['header 02 image'] }}" data-rjs="2" />

            </div>

            <div class="col">
              <img src="{{ page['header 03 image'] }}" data-rjs="2" />

            </div>

          </div>


        </header>

        <section class="work_body">

          <h1 class="project_title">{{ page['project description'] }}</h1>

          <h2 class="project_description">{{ page['project subtitle'] }}</h2>

          <!-- {% for category in page.categories %} -->
          {% if page.collections %}

          <ul class="work_tags">
            <li><a href="#">{% for category in page.collections %}{{ page.category }}{% endfor %}</a></li>
            <!-- <li><a href="#">User Experience</a></li>
            <li><a href="#">Brand Identity</a></li> -->
          </ul>

          {% endif %}
          <!-- {% endfor %} -->


            {{ content }}

        </section>

        <nav class="work_more">

        </nav>

      </div>

    </section>

    {% include footer.html %}

  </div><!-- end wrap -->

  <script type="text/javascript" src="/assets/js/retina.min.js"></script>

</body>

</html>
