{% include head.html %}

<body class="poject">

  <div class="wrap">

    {% include header.html %}

    <section class="main_content">

      <div class="main_content__contain">

        <header class="work_head">

          <div class="left_col">

            <div class="col">

            </div>

          </div>

          <div class="right_col">

            <div class="col">

            </div>

            <div class="col">

            </div>

          </div>


        </header>

        <section class="work_body">

          <h1 class="project_title">A Marketplace for Photographers</h1>

          <h2 class="project_description">Deco was never fully launched, but it was a effort to allow photographers focus on what their experts at, and allow Deco to handle everything else.</h2>

          <!-- {% for category in page.categories %} -->
          {% if page.collections %}

          <ul class="work_tags">
            <li><a href="#">{% for category in page.collections %}{{ page.category }}{% endfor %}</a></li>
            <!-- <li><a href="#">User Experience</a></li>
            <li><a href="#">Brand Identity</a></li> -->
          </ul>

          {% endif %}
          <!-- {% endfor %} -->


            {{ content }}

        </section>

        <nav class="work_more">

        </nav>

      </div>

    </section>

    {% include footer.html %}

  </div><!-- end wrap -->

</body>

</html>
